<div class="resumes">

  <!-- Candidate 1 -->
  <a href="#" class="featured">
    <div class="row">
      <div class="col-xs-3 col-sm-2 col-lg-1">
        <img src="images/job1.jpg" alt="" class="img-circle img-responsive" />
      </div>
      <div class="col-xs-9 col-sm-4 col-md-5 col-lg-4 candidate-name">
        <h5>Susie Johnson</h5>
        <p><strong>Project Manager</strong></p>
      </div>
      <div class="hidden-xs col-sm-6 col-md-5 col-lg-4 candidate-location">
        <p><strong>New York City, NY, USA</strong></p>
        <p>743.6 mi away</p>
      </div>
      <div class="hidden-xs hidden-sm hidden-md col-lg-3">
        <p class="candidate-date">Updated 3 weeks ago</p>
        <p class="candidate-tags">
          <span class="badge">Marketing</span>
          <span class="badge">Sale</span>
        </p>
      </div>
    </div>
  </a>
</div>
