
<h1>Candidates</h1>

<%= will_paginate @candidates%>

<ul>
  <% @candidates.each do |c| %>
    <li>
      <strong><%= c.email %></strong>
      <% unless current_user == c %>
        <%= link_to 'Send message', new_conversation_path(to: c.id), class: 'btn btn-default btn-sm' %>
      <% end %>
    </li>
  <% end %>
</ul>

<%= will_paginate @candidates%>
