<div class="container">
  <div class="row  inbox">
    <div class="spacer"></div>
    <div class="col-md-12">
      <p class="text-center">
        <%= link_to " + New Message", new_conversation_path, class: "btn btn-default btn-xs", method: :get %>
      </p>
      <div class="spacer"></div>
    </div>

    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <%= render 'mailbox/folders' %>
        </div>
      </div>
    </div>

    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-body">
          <% if is_conversation %>
              <%= render 'conversations/form' %>
          <% else %>
              <%= render partial: 'conversations/conversation', collection: messages %>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>
