<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <style>
    /*Email stayle need to be inline*/
  </style>
</head>
<body>
  <p>From:</p>
  <p><%= @name %></p>
  <p><%= @email %></p>
  <p>Message:</p>
  <p><%= @subject %></p>
  <p><%= @message %></p>
</body>
</html>
